In [1]:
import pandas as pd
import numpy as np

In [2]:
hsbc_checking = pd.read_csv("hsbc_checking_2022.csv", names=["date", "description", "amount", "balance", "category"],
            dtype={"date":str, "description":str, "amount":float, "balance": float, "category":str},
            parse_dates=["date"], thousands=r',', skipinitialspace=True)
hsbc_checking.description = hsbc_checking.description.replace(r'\s+', ' ', regex=True)
hsbc_checking.category = "cat_other"

In [3]:
hsbc_checking

,date,description,amount,balance,category
0,1672358400000000000,ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP Y...,4461.47,7204.40,cat_other
1,1672272000000000000,ACH AUTOMATIC TRANSFER TO CREDIT ACCOUNT #4688...,-2725.21,2742.93,cat_other
2,1672185600000000000,ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP48...,-1500.00,5468.14,cat_other
3,1672185600000000000,ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP48...,-500.00,6968.14,cat_other
4,1671494400000000000,ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP4712...,-322.17,7468.14,cat_other
...,...,...,...,...,...
243,1641513600000000000,ACH PAYMENT TO CITI AUTOPAY-PAYMENT YPE129042 ...,-2463.12,8686.46,cat_other
244,1641427200000000000,ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP9389...,-224.42,11149.58,cat_other
245,1641168000000000000,DEPOSIT YMRR04504 SYSTEM GENERATED,120.00,11374.00,cat_other
246,1641168000000000000,ACH PAYMENT TO PAYPAL-INST XFER YPE211636 SYST...,-70.00,11254.00,cat_other
247,1641168000000000000,ACH PAYMENT TO APPLECARD GSBANK-PAYMENT YPE211...,-231.95,11324.00,cat_other

In [4]:
hsbc_checking[hsbc_checking.category.str.contains("other")].description.tolist()

['ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP44641 SYSTEM GENERATED',
 'ACH AUTOMATIC TRANSFER TO CREDIT ACCOUNT #4688151453 YPEP60786 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP48924 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP48923 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP47124 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP70686 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP71703 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP31166 SYSTEM GENERATED',
 'INTEREST PAID FROM 11/15/22 THRU 12/14/22 ZDD400004 SYSTEM GENERATED',
 'ACH PAYMENT TO MACYS-AUTO PYMT YPEP47310 SYSTEM GENERATED',
 'ACH PAYMENT TO COLO SPGS UTILIT-PAYMENT YPEP47309 SYSTEM GENERATED',
 'ACH PAYMENT TO CITI AUTOPAY-PAYMENT YPEP43734 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP43733 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP33497 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP72252 SYSTEM GENERATED',
 'ACH PAYMENT TO APPLECARD GSBANK-PAYMENT YPEP72251 SYSTEM GENERATED',
 'ACH AUTOMATIC TRANSFER TO CREDIT ACCOUNT #4688151453 YPEP65872 SYSTEM GENERATED',
 'ONLINE TRANSFER FROM SAV 810031949 ON 11/28/2022 HIB- 767337040XZOFFB56D7 IB3716484 INTERNET BANKING',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP56575 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP56574 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP71415 SYSTEM GENERATED',
 'ACH PAYMENT TO TREASURY DIRECT-TREAS DRCT YPEP55580 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP60696 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP26766 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP53212 SYSTEM GENERATED',
 'INTEREST PAID FROM 10/17/22 THRU 11/14/22 ZDD400007 SYSTEM GENERATED',
 'ACH PAYMENT TO MACYS-AUTO PYMT YPEP92772 SYSTEM GENERATED',
 'ONLINE TRANSFER TO SAV 810031949 ON 11/10/2022 HIB- 403837137X694FOVX7Q IB0215381 INTERNET BANKING',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP63632 SYSTEM GENERATED',
 'ACH PAYMENT TO COLO SPGS UTILIT-PAYMENT YPEP63631 SYSTEM GENERATED',
 'ACH CASH CONCENTRATION NOKIA CORPORATIO-PAYMENTS YPEP29055 SYSTEM GENERATED',
 'ACH DEPOSIT FROM SMART CHOICE ACT-DEPOSIT YPEP17765 SYSTEM GENERATED',
 'ACH PAYMENT TO CITI AUTOPAY-PAYMENT YPEP46803 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP46802 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP27741 SYSTEM GENERATED',
 'ACH PAYMENT TO APPLECARD GSBANK-PAYMENT YPEP75037 SYSTEM GENERATED',
 'REBATE OF ATM SURCHARGE FOR 10/06/22 WITHDRAWAL Z@AR02884 SYSTEM GENERATED',
 'ACH AUTOMATIC TRANSFER TO CREDIT ACCOUNT #4688151453 YPE118880 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP93360 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP66920 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP66919 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP40844 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP65337 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP26658 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP45512 SYSTEM GENERATED',
 'ACH DEPOSIT FROM PAYPAL-TRANSFER YPEP14172 SYSTEM GENERATED',
 'INTEREST PAID FROM 09/15/22 THRU 10/16/22 ZDD400007 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP75635 SYSTEM GENERATED',
 'ACH PAYMENT TO MACYS-AUTO PYMT YPEP84933 SYSTEM GENERATED',
 'ACH DEPOSIT FROM TD AMERITRADE-ACH OUT YPEP44438 SYSTEM GENERATED',
 'ACH PAYMENT TO FLYING HORSE HOM-OWNERDRAFT YPEP59148 SYSTEM GENERATED',
 'ACH PAYMENT TO COLO SPGS UTILIT-PAYMENT YPEP59147 SYSTEM GENERATED',
 'ACH PAYMENT TO CITI AUTOPAY-PAYMENT YPEP62776 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP62775 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP27176 SYSTEM GENERATED',
 'CASH WITHDRAWAL ON 10062022 AT 7685 N ACADEMY BLVD 7685 N ACADEMY BLVD @MC117455 ATM',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP48560 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP50361 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO APPLECARD GSBANK-PAYMENT YPE111440 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH AUTOMATIC TRANSFER TO CREDIT ACCOUNT #4688151453 YPEP58167 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP42753 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP42752 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP26441 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP41246 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP47607 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP68285 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'INTEREST PAID FROM 08/15/22 THRU 09/14/22 ZDD400007 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP71348 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP71347 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO MACYS-AUTO PYMT YPEP46380 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLO SPGS UTILIT-PAYMENT YPEP67452 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP25844 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CITI AUTOPAY-PAYMENT YPEP52713 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP52712 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'GB705092PMMQ0QGW 249368565 SOLIUM CAPITAL UK LIMITED HSBC 41BOOK CREDIT HSBC BN PLC YPI036892 OTHERS YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP69712 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO APPLECARD GSBANK-PAYMENT YPEP69711 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH AUTOMATIC TRANSFER TO CREDIT ACCOUNT #4688151453 YPEP86904 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP62876 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP62877 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP24839 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP39373 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP41103 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO VANGUARD BUY-INVESTMENT YPEP41352 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP41351 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP41350 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ONLINE TRANSFER FROM SAV 810031949 ON 08/16/2022 HIB- 182028697XALPBKEJ7L IB3502999 INTERNET BANKING YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP47610 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'INTEREST PAID FROM 07/15/22 THRU 08/14/22 ZDD400008 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP88394 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO MACYS-AUTO PYMT YPEP88393 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLO SPGS UTILIT-PAYMENT YPEP58805 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP25087 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CITI AUTOPAY-PAYMENT YPEP46066 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP66902 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP44837 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO APPLECARD GSBANK-PAYMENT YPEP92915 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH AUTOMATIC TRANSFER TO CREDIT ACCOUNT #4688151453 YPE105384 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM PAYPAL-TRANSFER YPEP44430 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP44429 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP42570 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP42569 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP42568 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP45566 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO POPICORNS E-COMM-IAT PAYPAL YPE105609 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'DEPOSIT YMRR01213 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP72161 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP72160 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'INTEREST PAID FROM 06/15/22 THRU 07/14/22 ZDD400646 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP40651 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO FLYING HORSE HOM-OWNERDRAFT YPEP43447 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLO SPGS UTILIT-PAYMENT YPEP43446 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ONLINE TRANSFER TO CARD 5451 9846 8815 1453 ON 07/11/2022 HIB- 182028697XGPA9SDGF1 IB4198978 INTERNET BANKING YPEP50362 SYSTEM GENERATED',
 'Check #309 YCCS11975 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CITI AUTOPAY-PAYMENT YPEP50392 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP50391 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP57917 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP57916 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO APPLECARD GSBANK-PAYMENT YPEP94041 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP39332 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'MISCELLANEOUS ELECTRONIC CREDIT YREJ00263 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ONLINE TRANSFER FROM SAV 810031949 ON 06/30/2022 HIB- 135895839XR5Y93ER4A IB4396607 INTERNET BANKING YPEP50362 SYSTEM GENERATED',
 'ACH AUTOMATIC TRANSFER TO CREDIT ACCOUNT #4688151453 YPEP55351 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'Rebate of Incoming Wire Fee on 18-Feb-21 Y@MS02863 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'Rebate of Incoming Wire Fee on 25-Aug-20 Y@MS02862 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP45659 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP45658 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO POPICORNS E-COMM-IAT PAYPAL YPEP88385 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO GUANG ZHOU BEI Q-IAT PAYPAL YPEP46204 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP87919 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP64388 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP26148 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP51640 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'INTEREST PAID FROM 05/16/22 THRU 06/14/22 ZDD400006 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLO SPGS UTILIT-PAYMENT YPEP48593 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'Check #308 YCCS03466 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP45672 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CITI AUTOPAY-PAYMENT YPEP48916 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP80173 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP86357 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP42860 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO APPLECARD GSBANK-PAYMENT YPEP78825 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH AUTOMATIC TRANSFER TO CREDIT ACCOUNT #4688151453 YPE140279 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPE111569 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPE111568 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 ' 147652348 HIB- IPXQ6G2X Flagstar Bank 2080500800061 Loan Number 0440128319 Jumoke R Hil len Pay off Mortgage Loan 57SEND FED FEDSEQ:B1Q8982C004516 FLAGSTAR BANK, FSB TXP201441 INTERNET BANKING YPEP50362 SYSTEM GENERATED',
 'ONLINE TRANSFER FROM SAV 810031949 ON 05/27/2022 HIB- 427064056X6VGFXTXFE IB2392601 INTERNET BANKING YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP64335 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP25237 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ONLINE TRANSFER TO SAV 810031949 ON 05/19/2022 HIB- 253239693XFTGLU3O2E IB0292762 INTERNET BANKING YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP40309 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP43867 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'INTEREST PAID FROM 04/15/22 THRU 05/15/22 ZDD400008 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP73549 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLO SPGS UTILIT-PAYMENT YPEP81672 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CITI AUTOPAY-PAYMENT YPEP68370 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP63699 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP25809 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP51761 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO IRS-USATAXPYMT YPEP65838 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO APPLECARD GSBANK-PAYMENT YPE108206 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH AUTOMATIC TRANSFER TO CREDIT ACCOUNT #4688151453 YPE118438 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP45921 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP45919 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP45920 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP26905 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP44041 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP52482 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP78772 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO FRANCHISE TAX BO-PAYMENTS YPEP78771 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO IRS-USATAXPYMT YPEP78770 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'INTEREST PAID FROM 03/15/22 THRU 04/14/22 ZDD400004 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLO SPGS UTILIT-PAYMENT YPEP91602 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO MACYS-AUTO PYMT YPEP48171 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO FLYING HORSE HOM-OWNERDRAFT YPEP47209 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ONLINE TRANSFER FROM SAV 810031949 ON 04/12/2022 HIB- 809411593X8WF4WFG1R IB1987439 INTERNET BANKING YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP69688 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP63804 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP27911 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CITI AUTOPAY-PAYMENT YPEP47142 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP46879 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP96404 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO APPLECARD GSBANK-PAYMENT YPEP96403 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH AUTOMATIC TRANSFER TO CREDIT ACCOUNT #4688151453 YPEP65796 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP65909 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP65908 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPEP65907 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP65906 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM SMART CHOICE ACT-DEPOSIT YPEP19398 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP27342 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP64118 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP49289 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO COLO SPGS UTILIT-PAYMENT YPEP49288 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP55274 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'INTEREST PAID FROM 02/15/22 THRU 03/14/22 ZDD427402 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP69704 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP69703 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'RTP TRANSFER TO 5765338313 Kaiser paycheck RAPV25557VYZ 2022031112345123451BXPPE00002477461 YRT170962 INTERNET BANKING YPEP50362 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP28906 SYSTEM GENERATED YPEP50362 SYSTEM GENERATED',
 'ACH PAYMENT TO CITI AUTOPAY-PAYMENT YPEP50662 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPEP50661 SYSTEM GENERATED',
 'ACH DEPOSIT FROM LENDING CLUB-8885963157 YPEP15727 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP60389 SYSTEM GENERATED',
 'ACH AUTOMATIC TRANSFER TO CREDIT ACCOUNT #4688151453 YPE113709 SYSTEM GENERATED',
 'ACH PAYMENT TO APPLECARD GSBANK-PAYMENT YPEP83778 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPE102966 SYSTEM GENERATED',
 'ACH PAYMENT TO COLORADO 529 ACH-CONTRIB YPE102965 SYSTEM GENERATED',
 'ACH DEPOSIT FROM KAISER FOUNDATIO-PAYROLL YPEP27757 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP27756 SYSTEM GENERATED',
 'ONLINE TRANSFER FROM SAV 810031949 ON 02/25/2022 HIB- 246255233XS6IKFCRR3 IB0480825 INTERNET BANKING',
 'Check #307 YCCS21675 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP44972 SYSTEM GENERATED',
 'Check #306 YCCS46653 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPE115921 SYSTEM GENERATED',
 'ACH PAYMENT TO LIBERTY MUTUAL-PAYMENT YPE115920 SYSTEM GENERATED',
 'ACH PAYMENT TO CHASE CREDIT CRD-AUTOPAY YPEP97490 SYSTEM GENERATED',
 'INTEREST PAID FROM 01/18/22 THRU 02/14/22 ZDD400117 SYSTEM GENERATED',
 'ACH PAYMENT TO COLO SPGS UTILIT-PAYMENT YPE128101 SYSTEM GENERATED',
 'ACH PAYMENT TO MACYS-AUTO PYMT YPE120703 SYSTEM GENERATED',
 'ACH DEPOSIT FROM NOKIA OF AMERICA-DIRECT DEP YPEP44875 SYSTEM GENERATED',
 'Check #305 YCCS05722 SYSTEM GENERATED',
 'ACH PAYMENT TO PAYPAL-INST XFER YPEP80875 SYSTEM GENERATED',
 "ACH PAYMENT TO TREASURER'S OFFI-CONV FEE YPEP88478 SYSTEM GENERATED",
 "ACH PAYMENT TO TREASURER'S OFFI-EPCT YPEP88477 SYSTEM GENERATED",

In [4]:
def set_cat(df, tr_dic):
    for s_string, cat in tr_dic.items():
        df.loc[df.description.str.contains(s_string),"category"] = cat

In [5]:
str_to_cat_bank = {
    "DEPOSIT": "deposit",
    "DEPOSIT FROM NOKIA": "salary",
    "PAYMENT TO LIBERTY MUTUAL": "insurance",
    "PAYMENT TO FLYING HORSE": "HOA",
    "PAYMENT TO MACYS": "clothing",
    "PAYMENT TO COLO SPGS UTILIT": "utilities",
    "PAYMENT TO CITI AUTOPAY": "CC_Costco",
    "PAYMENT TO PAYPAL": "home_maintenance",
    "CASH WITHDRAWAL": "cash",
    "PAYMENT TO COLORADO 529": "529_payments",
    "AUTOMATIC TRANSFER TO CREDIT ACCOUNT": "CC_HSBC",
    "PAYMENT TO APPLECARD": "CC_Apple",
    "PAYMENT TO CHASE CREDIT": "CC_Amazon",
    "Check #": "checks",
    "ONLINE TRANSFER": "transfer",
    "PAYMENT TO IRS": "tax_payments",
    "PAYMENT TO TREASURY": "tax_payments",
    "PAYMENT TO VANGUARD": "invest",
    "Flagstar Bank": "loan_payoff",
    "PAYMENT TO POPICORNS": "furniture",
    "PAYMENT TO GUANG ZHOU BEI Q-IAT": "furniture",
    "SOLIUM CAPITAL": "transfer",
    "PAYMENT TO TREASURER": "tax_payments",
    "PAYMENT TO FRANCHISE TAX BO-PAYMENTS": "tax_payments",
}
set_cat(hsbc_checking, str_to_cat_bank)

In [6]:
hsbc_checking[hsbc_checking.category.str.contains("cat_other")]

,date,description,amount,balance,category
8,1671062400000000000,INTEREST PAID FROM 11/15/22 THRU 12/14/22 ZDD4...,0.05,3991.10,cat_other
25,1668470400000000000,INTEREST PAID FROM 10/17/22 THRU 11/14/22 ZDD4...,0.15,10435.11,cat_other
30,1668038400000000000,ACH CASH CONCENTRATION NOKIA CORPORATIO-PAYMEN...,74.13,21074.26,cat_other
36,1667260800000000000,REBATE OF ATM SURCHARGE FOR 10/06/22 WITHDRAWA...,3.50,17656.43,cat_other
46,1665964800000000000,INTEREST PAID FROM 09/15/22 THRU 10/16/22 ZDD4...,0.17,19006.77,cat_other
67,1663200000000000000,INTEREST PAID FROM 08/15/22 THRU 09/14/22 ZDD4...,0.25,20386.90,cat_other
89,1660521600000000000,INTEREST PAID FROM 07/15/22 THRU 08/14/22 ZDD4...,0.08,11516.05,cat_other
109,1657843200000000000,INTEREST PAID FROM 06/15/22 THRU 07/14/22 ZDD4...,0.07,11647.28,cat_other
121,1656547200000000000,MISCELLANEOUS ELECTRONIC CREDIT YREJ00263 SYST...,2399.16,11779.88,cat_other
124,1656460800000000000,Rebate of Incoming Wire Fee on 18-Feb-21 Y@MS0...,12.00,1779.88,cat_other
125,1656460800000000000,Rebate of Incoming Wire Fee on 25-Aug-20 Y@MS0...,12.00,1767.88,cat_other
134,1655251200000000000,INTEREST PAID FROM 05/16/22 THRU 06/14/22 ZDD4...,0.09,2752.99,cat_other
153,1652659200000000000,INTEREST PAID FROM 04/15/22 THRU 05/15/22 ZDD4...,0.28,38162.54,cat_other
172,1649980800000000000,INTEREST PAID FROM 03/15/22 THRU 04/14/22 ZDD4...,0.12,29580.38,cat_other
195,1647302400000000000,INTEREST PAID FROM 02/15/22 THRU 03/14/22 ZDD4...,0.06,12824.90,cat_other
198,1647216000000000000,RTP TRANSFER TO 5765338313 Kaiser paycheck RAP...,-815.18,12924.47,cat_other
217,1644883200000000000,INTEREST PAID FROM 01/18/22 THRU 02/14/22 ZDD4...,0.05,6140.55,cat_other
236,1642464000000000000,INTEREST PAID FROM 12/15/21 THRU 01/17/22 ZDD4...,0.10,7425.67,cat_other

In [7]:
hsbc_checking.groupby('category').sum()[["amount"]]

                     amount
category
529_payments      -24000.00
CC_Amazon         -12186.19
CC_Apple           -4339.56
CC_Costco         -10375.53
CC_HSBC           -31826.32
HOA                 -720.00
cash                -303.50
cat_other           1687.08
checks            -18328.50
clothing           -1087.56
deposit            10192.59
furniture          -3758.69
home_maintenance   -4502.00
insurance          -7248.46
invest           -250000.00
loan_payoff      -135724.95
salary            139198.40
tax_payments      -41078.92
transfer          394921.67
utilities          -4871.11

In [8]:
hsbc_cc = pd.read_csv("hsbc_cc_2022.csv", names=["date", "description", "amount", "category"],
            dtype={"date":str, "description":str, "amount":float, "category":str},
            parse_dates=["date"], thousands=r',', skipinitialspace=True)
hsbc_cc.description = hsbc_cc.description.replace(r'\s+', ' ', regex=True)
hsbc_cc.category = "cat_other"

In [9]:
hsbc_cc[(hsbc_cc.amount > 50) & (hsbc_cc.category == "cat_other")]

,date,description,amount,category
3,1672099200000000000,WAL-MART #1896 COLORADO SPRICO 12/27/2022,145.37,cat_other
5,1671840000000000000,EDIBLE ARRANGEMENTS 678-992-2300 GA 12/24/2022,87.59,cat_other
6,1671840000000000000,KING SOOPERS #0119 COLORADO SPRICO 12/24/2022,136.60,cat_other
10,1671753600000000000,TARGET 00022210 COLORADO SPRICO 12/23/2022,423.28,cat_other
12,1671580800000000000,ELEVATION ENDODONTICS COLORADO SPRICO 12/21/2022,243.00,cat_other
...,...,...,...,...
373,1642377600000000000,HOMEDEPOT.COM 800-430-3376 GA 01/17/2022,108.16,cat_other
375,1642118400000000000,HOMEDEPOT.COM 800-430-3376 GA 01/14/2022,108.16,cat_other
376,1642032000000000000,WM SUPERCENTER #1896 COLORADO SPRICO 01/13/2022,115.77,cat_other
377,1641945600000000000,KING SOOPERS #0076 COLORADO SPRICO 01/12/2022,66.55,cat_other
378,1641859200000000000,SHRI GANES* SHRI GANES COLORADO SPRICO 01/11/2...,99.46,cat_other

In [10]:
str_to_cat_cc = {
    "AVIS": "travel",
    "WAL-MART": "groceries",
    "CRATE&BARREL": "furniture",
    "WHOLEFDS": "groceries",
    "KING SOOPERS": "groceries",
    "NYTIMES": "entertainment",
    "DOORDASH": "dining",
    "TARGET": "groceries",
    "NETFLIX": "entertainment",
    "THE STUDIO FOR EXCEPT": "dentist",
    "HULU": "entertainment",
    "PAYMENT": "payment",
    "QUICKQUACK": "car_maint",
    "QUICK QUACK": "car_maint",
    "ELEVATION ENDODONTICS": "dentist",
    "BESTBUYCOM": "electronics",
    "PETCO": "dog_maint",
    "KAISER": "medical",
    "SMILE AFRICAN": "groceries",
    "UCHEALTH": "medical",
    "IN N OUT": "dining",
    "CENTURYLINK": "telecom",
    "YMCA": "sports",
    "EXPRESS TOLLS": "transport",
    "REBTEL": "telecom",
    "NORDSTROM": "clothing",
    "UNITED": "travel",
    "NAUTILUS": "sports",
    "RECEPCION HZRIVIERACUN ": "travel",
    "WAYFAIR": "furniture",
    "DENVER WINDOW WELL ": "furniture",
    "SUMMIT INTERQUEST": "birthday",
    "LECTRIC EBIKES": "sports",
    "AVENTON BIKES": "sports",
    "RESIDENCE INN COLUMBUS": "travel",
    "ACADEMY DISTRICT 20": "school_nathan",
    "MOTOR VEH SERV EMV DENVER": "car_maint",
    "SAFEWAY": "groceries",
    "HOMEDEPOT": "home_maintenance",
    "TESLA": "solar_panels",
    "WM SUPERCENTER": "groceries",
    "LOWES": "home_maintenance",
    "DROPBOX": "telecom",
    "TURBOTAX": "tax",
    "ROCK BOTTOM DENVER": "dining",
    "NIKE.COM": "clothing",
    "COLUMBUS": "travel",
    "PET RANCH": "travel",
    "BIAGGIS": "dining",
    "DEN PUBLIC PARKING": "travel",
    "MANITOU & PIKES PEAK": "travel",
    "UGG MILPITAS": "clothing",
    "BUDGET": "travel",
    "SHRI GANES": "dining",
    "ROVER.COM": "travel",
    "BAKER MUSIC": "school_nathan",
    "WALGREENS": "groceries",
    "PANERA BREAD": "dining",
    "CHIPOTLE": "dining",
    "EDIBLE ARRANGEMENTS": "gifts",
    "DILLARDS": "clothing",
    "CROCS": "clothing",
    "DSW MARKET": "clothing",
    "CHEESECAKE": "dining",
    "KUM&GO": "groceries",
    "JOSTENS": "school_nathan",
    "GRANER MUSIC": "school_nathan",
    "STARBUCKS": "dining",
    "CHICK-FIL-A ": "dining",
    "PANDA EXPRESS": "dining",
    "MCDONALD'S": "dining",
    "DISCOVERY CANYON": "school_nathan",
    "TACO BELL": "dining",
    "WHATABURGER": "dining",
    "CHICK-FIL-A ": "dining",
    "CHICK-FIL-A ": "dining",
}
set_cat(hsbc_cc, str_to_cat_cc)

In [12]:
hsbc_cc[hsbc_cc.category=="cat_other"]

,date,description,amount,category
0,2023-01-01,SQ *PZAA CASTLE ROCK CO 01/01/2023,12.95,cat_other
4,2022-12-27,LADY JANES COLORADO SP COLORADO SPRICO 12/27/2...,27.00,cat_other
25,2022-12-15,KP CO ONLINE CHECK-IN AURORA CO 12/15/2022,10.00,cat_other
83,2022-10-29,MAILSTOP MARKET COLORADO SPRICO 10/29/2022,2.77,cat_other
87,2022-10-26,665 - DISTRICT MARKET SAN FRANCISCOCA 10/26/2022,21.82,cat_other
114,2022-10-01,NANAS AFRICAN MARKET DENVER CO 10/01/2022,11.50,cat_other
146,2022-09-03,BURLINGTON STORES 1278 COLORADO SPRICO 09/03/2...,31.33,cat_other
150,2022-09-03,ROSS STORES #1397 COLORADO SPGSCO 09/02/2022,32.43,cat_other
162,2022-08-25,HSBC CASHBACK REBATE MO 08/25/2022,-1212.57,cat_other
205,2022-07-11,COLORADO THEATRE 5757691944 CO 07/11/2022,33.12,cat_other
216,2022-07-03,Interest Charge on Purchases 07/03/2022,55.38,cat_other
225,2022-06-25,PK5103 - WYNKOOP GARAG DENVER CO 06/25/2022,10.00,cat_other
226,2022-06-25,PK5103 - WYNKOOP GARAG DENVER CO 06/25/2022,10.00,cat_other
234,2022-06-19,MINUTEKEY BOULDER CO 06/19/2022,8.66,cat_other
235,2022-06-18,MINUTEKEY BOULDER CO 06/18/2022,8.66,cat_other
248,2022-06-06,FROYOBOT LLC COLORADO SPRICO 06/06/2022,1.10,cat_other
266,2022-05-25,SQ *NORA PEREZ-VILLALO COLORADO SPRICO 05/25/2...,12.95,cat_other
283,2022-05-10,LAVENDER NAILS COLORADO SPRICO 05/10/2022,40.00,cat_other
329,2022-03-14,SERVICE NB - ONLINE FREDERICTON NB 03/14/2022,78.79,cat_other
332,2022-03-11,ESSENCE COMMUNICATIONS 800-2749398 NY 03/11/2022,24.00,cat_other
339,2022-03-02,GOOGLE LLC CLOUD EACHD MOUNTAIN VIEWCA 03/02/2...,9.20,cat_other
363,2022-01-31,GOOGLE*CLOUD CYWCPR INTERNET CA 01/31/2022,4.20,cat_other
365,2022-01-31,FASTRAK CSC 4154868655 CA 01/31/2022,-31.82,cat_other
374,2022-01-15,USPS PO 0718080620 COLORADO SPRICO 01/15/2022,50.00,cat_other
380,2022-01-10,SQ *MZ NIKKI THE BARBE COLORADO SPRICO 01/10/2...,45.00,cat_other

In [13]:
hsbc_cc.groupby('category').sum()[["amount"]]

                    amount
category
birthday            503.23
car_maint           984.60
cat_other          -703.53
clothing            893.63
dentist             815.90
dining             4246.31
dog_maint           246.72
electronics         197.02
entertainment       699.26
furniture          1134.22
gifts               295.92
groceries          7682.73
home_maintenance    478.63
medical             216.70
payment          -31787.32
school_nathan       905.72
solar_panels        412.98
sports             5406.43
tax                 223.65
telecom             889.88
transport            81.15
travel             6279.30

In [22]:
from pathlib import Path
apple_cc_path = Path('/home/hillenr/icloud/Documents/cc_data/')
files = list(apple_cc_path.glob('Apple Card*2022.csv'))

In [30]:
apple_cc = pd.concat((pd.read_csv(f) for f in files), ignore_index=True)
apple_cc = apple_cc.sort_values(by=["Transaction Date"], ascending=True)
apple_cc

,Transaction Date,Clearing Date,Description,Merchant,Category,Type,Amount (USD),Purchased By
43,01/03/2022,01/04/2022,MCDONALD'S F39517 1245 INTERQUEST PARKWA COLOR...,McDonald's,Restaurants,Purchase,33.11,Robert Hillen
42,01/04/2022,01/06/2022,APPLE.COM/BILL ONE APPLE PARK WAY 866-712-7753...,Apple Services,Other,Purchase,4.99,Robert Hillen
41,01/05/2022,01/06/2022,CHICK-FIL-A #03560 391 SPECTRUM LOOP COLORADO ...,Chick-fil-A,Restaurants,Purchase,62.55,Robert Hillen
40,01/10/2022,01/10/2022,CHIPOTLE ONLINE 610 NEWPORT CTR STE1300 180024...,Chipotle Mexican Grill,Restaurants,Purchase,53.72,Robert Hillen
39,01/17/2022,01/18/2022,APPLE.COM/BILL ONE APPLE PARK WAY 866-712-7753...,Apple Services,Other,Purchase,15.99,Robert Hillen
...,...,...,...,...,...,...,...,...
27,11/30/2022,12/02/2022,CHICK-FIL-A #03560 391 SPECTRUM LOOP COLORADO ...,Chick-fil-A,Restaurants,Purchase,35.22,Robert Hillen
26,12/07/2022,12/08/2022,APPLE.COM/BILL ONE APPLE PARK WAY 866-712-7753...,Apple Services,Other,Purchase,15.99,Robert Hillen
25,12/17/2022,12/18/2022,PANERA BREAD #202443 P5230 N NEVADA AVE STE 18...,Panera Bread,Restaurants,Purchase,57.66,Robert Hillen
24,12/23/2022,12/24/2022,APPLE.COM/BILL ONE APPLE PARK WAY 866-712-7753...,Apple Services,Other,Purchase,0.99,Robert Hillen
23,12/31/2022,12/31/2022,ACH DEPOSIT INTERNET TRANSFER FROM ACCOUNT END...,Ach Deposit Internet Transfer From Account End...,Payment,Payment,-229.26,Robert Hillen

In [33]:
apple_cc.groupby('Category').sum()

             Amount (USD)
Category
Alcohol             32.45
Gas                101.85
Grocery             55.81
Other             2002.04
Payment          -4336.87
Restaurants       2038.90

In [34]:
import PyPDF2 as pypdf

In [37]:
pdfile=open('/home/hillenr/drop/Tax/2021/TaxReturn.pdf','rb')
pdf=pypdf.PdfReader(pdfile)

In [49]:
pdf.pages[0].extract_text().split('\n')

['Electronic Filing Instructions for your 2021 Federal Tax Return',
 'Important: Your taxes are not finished until all required steps are completed.',
 'Robertus D & Jumoke R Hillen',
 '1929 Clayhouse Dr',
 'Colorado Springs, CO 80921-3874',
 'Page 1 of 1|',
 'Balance |Your federal tax return (Form 1040) shows a balance due of $19,985.00.',
 'Due/ |',
 'Refund |Your return shows you have elected to pay your balance due of',
 '|$19,985.00 by Direct Debit using the following information:',
 '| - Amount Withdrawn:       $19,985.00',
 '| - Account Number:         711242836',
 '| - Routing Transit Number: 022000020',
 '| - Date of Withdrawal:     04/16/2022',
 '______________________________________________________________________________________ |',
 '|',
 'What You |Your Electronic Filing Instructions (this form)',
 'Need to |A copy of your federal return',
 'Keep |',
 '______________________________________________________________________________________ |',
 '|',
 '2021 |Adjusted Gross Income                   $    440,413.00',
 'Federal |Taxable Income                          $    414,691.00',
 'Tax |Total Tax                               $     83,335.00',
 'Return |Total Payments/Credits                  $     63,465.00',
 'Summary |Payment Due                             $     19,870.00',
 '|Penalty/Interest                        $        115.00',
 '|Balance Due With Penalty/Interest       $     19,985.00',
 '|Effective Tax Rate                               17.64%',
 '______________________________________________________________________________________ |',
 '|',
 'Estimated |Estimated Payments for 2022 - Do not mail these vouchers with your',
 'Payments to |2021 income tax return. The estimated vouchers displayed below are',
 'Make for Next |used to prepay your 2022 income taxes that will be filed next year.',
 "Year's Return |If you expect to owe more than $1,000 in 2022, you may incur",
 '|underpayment penalties if you do not make these four estimated tax',
 '|payments. This printout includes your estimated tax vouchers for your',
 '|federal estimated taxes (Form 1040-ES).',
 '|',
 '|Mail payments according to the schedule below:',
 '|',
 '|      Voucher Number        Due Date                Amount',
 '|            1                04/18/2022           $    7,051.00',
 '|            2                06/15/2022           $    7,051.00',
 '|            3                09/15/2022           $    7,051.00',
 '|            4                01/17/2023           $    7,051.00',
 '|',
 '|Include a separate check or money order for each payment, payable to',
 '|"United States Treasury". Write your social security number and "Form',
 '|1040-ES" on each check.',
 '|',
 '|Mail payments to:',
 '|Internal Revenue Service',
 '|P.O. Box 802502',
 '|Cincinnati, OH 45280-2502',
 '______________________________________________________________________________________ |']

In [48]:
import tabula

In [54]:
dfs = tabula.read_pdf("/home/hillenr/drop/Tax/2021/TaxReturn.pdf", pages=[7])

Got stderr: Jan 19, 2023 1:16:41 PM org.apache.pdfbox.pdmodel.font.PDType0Font toUnicode
WARNING: No Unicode mapping for CID+97 (97) in font UniversalStd-NewswithCommPi-Identity-H
Jan 19, 2023 1:16:41 PM org.apache.pdfbox.pdmodel.font.PDType0Font toUnicode
WARNING: No Unicode mapping for CID+21 (21) in font ZapfDingbatsStd-Identity-H
Jan 19, 2023 1:16:41 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
Jan 19, 2023 1:16:41 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [67]:
dfs[3].iloc[:,[1,2,14,15]]
#dfs[3]

,Nathan A Hillen,614-87-9055,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,"1 Wages, salaries, tips, etc. Attach Form(s) W-2",. . . . . .,1,"307,830."
5,NaN,NaN,NaN,NaN
6,2a Tax-exempt interest . .,. 2a 0. b Taxable interest,2b,"1,725."
7,NaN,NaN,NaN,NaN
8,3a Qualified dividends . .,. 3a 440. b Ordinary dividends,3b,"1,344."
9,NaN,NaN,NaN,NaN
10,4a IRA distributions . . .,. 4a b Taxable amount .,4b,NaN
11,5a Pensions and annuities .,. 5a b Taxable amount .,5b,NaN
12,6a Social security benefits .,. 6a b Taxable amount .,6b,NaN
13,NaN,NaN,NaN,NaN
14,7 Capital gain or (loss). Attach Schedule D if...,NaN,7,"109,433."
15,NaN,NaN,NaN,NaN
16,"8 Other income from Schedule 1, line 10",. . . . . . . .,8,"20,371."
17,NaN,NaN,NaN,NaN
18,"9 Add lines 1, 2b, 3b, 4b, 5b, 6b, 7, and 8. T...",NaN,9,"440,703."